.options-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.admin {
    margin-right: 1em;
}

.admin,
.employee {
    color: #0B3D92;
    font-size: 1.25em;
    cursor: pointer;
}

.request-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.status {
    font-style: italic;
}

.awaiting-approval {
    color: #999A9A;
}

.approved {
    color: #5BB85D;
}

.rejected,
.number {
    color: #E4655F;
}

.selected {
    font-weight: bold;
    text-decoration: underline;
}

.number {
    font-weight: bold;
}

.admin-messages,
.employee-messages {
    padding: 1em 0;
}

.submit-link {
    text-decoration: underline;
    font-style: italic;
    color: #0B3D92;
    cursor: pointer;
}

#admin-date-field,
#employee-date-field {
    display: none;
}

@media (min-width: 768px) {
    #admin-date-field,
    #employee-date-field {
        display: block;
    }
}