<div class="submit-request-container">
    <div class="header-row">
        <div class="header">Update Request</div>
        <div class="button-row">
            <button (click)="saveRequest()">SAVE</button>
            <button (click)="deleteRequest()">DELETE</button>
            <button (click)="cancelRequest()">CANCEL</button>
        </div>
    </div>
    <div *ngIf="validRequest === false" class="error-message invalid-label">Form is not valid, errors highlighted below</div>
    <div *ngIf="request" class="submit-form">
        <div class="form-row">
            <label [class.invalid-label]="validFormElements.name === false">* NAME</label>
            <input [(ngModel)]="request.Name" [class.invalid]="validFormElements.name === false">
        </div>
        <div class="form-row">
            <label [class.invalid-label]="validFormElements.emailAddress === false">* EMAIL ADDRESS</label>
            <input [(ngModel)]="request.EmailAddress" [class.invalid]="validFormElements.emailAddress === false">
        </div>
        <div class="form-row">
            <label [class.invalid-label]="validFormElements.startTime === false">* START</label>
            <input [(ngModel)]="request.StartTime" type="date" [class.invalid]="validFormElements.startTime === false">
        </div>
        <div class="form-row">
            <label [class.invalid-label]="validFormElements.endTime === false">* END</label>
            <input [(ngModel)]="request.EndTime" type="date" [class.invalid]="validFormElements.endTime === false">
        </div>
        <div class="form-row">
            <label [class.invalid-label]="validFormElements.reason === false">* REASON</label>
            <input [(ngModel)]="request.Reason" [class.invalid]="validFormElements.reason === false">
        </div>
        <div class="form-row">
            <label>COMMENTS</label>
            <textarea [(ngModel)]="request.Comments"></textarea>
        </div>
    </div>
</div>