.toolbar {
    background-color: #0B3D92;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 1em;
    font-size: 0.75em;
}

#right-menu {
    display: none;
}

@media (min-width: 768px) {
    #right-menu {
        display: flex;
    }
}

.left-toolbar,
.right-toolbar {
    display: flex;
    flex-direction: row;
}

.right-toolbar div {
    padding: 0 1em;
}