.request-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.header {
    text-align: center;
    font-size: 2em;
}

.status {
    font-style: italic;
}

.awaiting-approval {
    color: #999A9A;
}

.approved {
    color: #5BB85D;
}

.rejected {
    color: #E4655F;
}