<div class="request-container" *ngIf="request">
    <div (click)="backToDashboard()" class="back">
        <i class="fa fa-angle-left" aria-hidden="true"></i> Back to Dashboard
    </div>
    <div class="header">
        Request {{request.Id}} -
        <span class="status" [class.awaiting-approval]="request.Status === 'Awaiting Approval'" [class.approved]="request.Status === 'Approved'" [class.rejected]="request.Status === 'Rejected'">{{request.Status}}</span>
    </div>
    <div class="row">
        <div class="label">Employee: </div>
        <div class="description">{{request.Name}}</div>
    </div>
    <div class="row">
        <div class="label">Start Date: </div>
        <div class="description">{{request.StartTime | date: 'MM/dd/yy'}}</div>
    </div>
    <div class="row">
        <div class="label">End Date: </div>
        <div class="description">{{request.EndTime | date: 'MM/dd/yy'}}</div>
    </div>
    <div class="row">
        <div class="label">Reason: </div>
        <div class="description">{{request.Reason}}</div>
    </div>
    <div class="row">
        <div class="label">Comments: </div>
        <div *ngIf="!showAdminButtons" class="description">{{request.Comments}}</div>
        <textarea *ngIf="showAdminButtons" [(ngModel)]="request.Comments" class="description"></textarea>
    </div>
    <div *ngIf="showAdminButtons" class="button-row">
        <button (click)="approveRequest()">
            <i class="fa fa-check" aria-hidden="true"></i>
            APPROVE
        </button>
        <button (click)="rejectRequest()">
            <i class="fa fa-times" aria-hidden="true"></i>
            REJECT
        </button>
    </div>
</div>