.request-container {
    display: flex;
    flex-direction: column;
}

.button-row {
    display: flex;
    padding: 1em;
    align-self: center;
}

button {
    margin: 0 1em;
    border: 1px solid black;
    background: none;
    font-family: inherit;
    border-radius: 5px;
    font-size: 1em;
}

.row {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    padding: 0.5em;
    align-items: center;
    min-width: 22em;
}

.label {
    font-weight: bold;
    margin-right: 2em;
}

.description {
    min-width: 10em;
}

.header {
    font-size: 1.5em;
    align-self: center;
    margin-bottom: 1em;
}

.status {
    font-style: italic;
}

.awaiting-approval {
    color: #999A9A;
}

.fa-check,
.approved {
    color: #5BB85D;
}

.fa-times,
.rejected {
    color: #E4655F;
}

.back {
    font-size: 0.75em;
}

.back i {
    margin-right: 0.25em;
    font-size: 1em;
}

textarea {
    resize: none;
    height: 5em;
    width: 10em;
    border: 1px solid black;
    font-family: inherit;
    padding: 0.25em;
    font-size: 1em;
}