.submit-request-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

textarea {
    resize: none;
    height: 5em;
}

button {
    border: 1px solid black;
    background: none;
    font-family: inherit;
    border-radius: 5px;
    font-size: 1em;
    margin-left: 1em;
    cursor: pointer;
}

.header {
    font-size: 2em;
    align-self: center;
}

.submit-form {
    align-self: center;
    padding: 1em;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 18em;
    padding: 0.5em;
}

.button-row {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.header-row {
    display: flex;
    justify-content: space-between;
}

input,
textarea {
    width: 16em;
    border: 1px solid black;
    font-family: inherit;
    padding: 0.25em;
}

@media(min-width: 768px) {
    input,
    textarea {
        font-size: 1em;
        width: 20em;
    }
}

label {
    margin-right: 1em;
}

.invalid {
    border: 1px solid #E4655F;
}

.invalid-label {
    color: #E4655F;
}

.error-message {
    align-self: center;
    font-style: italic;
}